@import "compass/layout/stretching";

/* styling of basic elements */
p {
  text-align:justify;
}


h1, h2, h3, #cloud {
  color: $header_color;
  font-family: $fantasy_font;
  text-align:justify;
  @include single-text-shadow(1px, 1px, 1px, false, $shadow_color);
  line-height: rhythm(0.83);
  a {
    &:hover {
      text-decoration: none;
      color: $highlight_color;
    }
  }
}

table {
  width:100%;
}

a {
  color:$color;
  text-decoration: none;
  &:hover {
    color: $highlight_color;
  }
}

/* styling of Drupal elements */

.sidebar {
  text-align: center;
  display:inline-block;
  .item-list ul, ul.menu, ol.menu {
    padding: 0 0 0 rhythm(0.5);
  }
  .block {
    .view, .item-list ul, ul.menu, ol.menu, table {
      text-align:left;
      @include hyphens(auto);
      li {
        margin:0;
        color: $color;
      }
    }
  }
}
.region-sidebar-second {
  .banner {
    display:inline-block;
    ul {
      padding: 0;
    }
  }
}


th {
  padding:0.5em;
  color: $header_color;
  a {
    font-family: $fantasy_font;
    @include single-text-shadow(1px, 1px, 1px, false, $shadow_color);
    color: $color1;
    &:hover {
      color: $color1;
    }
  }
}

.block-poll {
  .poll {
    title {
      font-weight: bold;
      color: #444;
    }
    .bar {
      .foreground {
       background-color:$color;
      }
    }
  }
  .links {
    text-align:right;
    list-style-type: none;
    @include adjust-font-size-to(14px);
  }
}


.more-link, .submitted, ul.links.inline, ul.pager {
  @include adjust-font-size-to(14px);
}

.user-picture {
  float:right;
  padding-left: rhythm(0.83);
}

#block-forum-new {
  ul {
    li {
      padding-bottom:rhythm(0.67);
    }
  }
 .item-list ul {
    padding: rhythm(0.5);
  }
}

/* position event picture in the top right corner */
.node {
  .field-name-field-image {
    float:right;
  }
}

.node, .comment, .view-top-comments .views-row {
  border: solid 1px $border-color;
  @include single-box-shadow($shadow_color, 3px, 3px, 3px);
  padding: rhythm(0.67);
  margin-bottom:rhythm(0.67);
}

.node, .block {
  .date-display-single {
    float: right;
    bottom:0;
    color: $color1;
    font-family: Inconsolata, fantasy, sans-serif;
  }
  .field-type-taxonomy-term-reference {
    float: right;
    @include adjust-font-size-to(14px);
    padding-right: rhythm(1.17);
  }
}

#content .section {
  padding:0 10px 0 10px;
}

/* forum */
#forum, .tracker {
  .icon .topic-status-new {
    background-position: -24px 0;
  }
  .icon .topic-status-hot {
    background-position: -48px 0;
  }
  .icon .topic-status-hot-new {
    background-position: -72px 0;
  }
  .icon .topic-status-sticky {
    background-position: -96px 0;
  }
  .icon .topic-status-closed {
    background-position: -120px 0;
  }

  table {
    border: solid 1px $border-color;
    margin:0;
    div.indent {
      margin-left: rhythm(1); /* LTR */
    }
    .name {
      font-weight: bold;
      text-shadow: 1px 1px 1px $border-color;
      color: $border-color;
    }
    .icon div {
      background-image: url(../images/forum-icons.png);
      background-repeat: no-repeat;
      float: left; /* LTR */
      height: 24px;
      margin: 0 9px 0 0; /* LTR */
      width: 24px;
    }
    table {
      margin-top: 0;
      margin-bottom: 0;
    }
    td{
      padding: rhythm(0.33);
      &.topics, &.posts {
        white-space:nowrap;
      }
    }
  }
}



/* remove underline from primary links menu */
ul.primary {
  border-bottom:none;
  margin: 5px 5px 0 5px;
}

/* action links are inline */
ul.action-links {
  display: inline;
  padding-left: 0;
}

ul.action-links li{
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  font-size:small;
}

.new-topics, .last-reply {
  vertical-align:super;
  font-size:smaller;
}

.user-signature {
  font-size:smaller;
  font-style:italic;
}

.comment ul.links {
  font-size:smaller;
  float:right;
  margin:0

}

.privatemsg-list {
  width:100%;
}

/* node edit form */
#edit-title {
  width:100%;
}

.form-actions input {
  padding: rhythm(0.18) rhythm(0.5) rhythm(0.18) rhythm(0.5);
  margin-right:rhythm(1);
}


.administrator, .administrator:link, .administrator:hover, .administrator:visited {
  color: $red;
}

.node-moderator, .node-moderator:link, .node-moderator:hover, .node-moderator:visited {
  color:$marron;
}

.forum-moderator, .forum-moderator:link, .forum-moderator:hover, .forum-moderator:visited {
  color:$violet;
}

.block-locale {
  position:fixed;
  top: -$nav-height;
  right:1px;
  ul {
    list-style-type: none;
    li {
      display:inline;
    }
  }
}


.block-locale .content ul li {
    list-style-type: none;
    padding: 0 2px;
    display:inline;
}

.breadcrumb {
  text-align: left;
}

html {
  font-size: .846em;
  line-height: 130%;
}

tr.even, tr.odd {
  background-color: none;
}

td {
  padding: 0.17em;
  word-break:break-word;
}

blockquote:before {
  content: "\201C";
  font-size: 57px;
  color: $color;
  text-shadow: 1px 1px 1px #aaa;
  float:left;
  height: 1px;
  margin-top: 0.2em;
  margin-right: 0.1em;
  font-family: Arial, helvetica, sans-serif;
}

/* Padding of images, e.g. on home page*/
.field-type-image {
  padding: 5px;
}


/* Overrides system.theme.css*/
.item-list ul li {
  list-style-type: none;
}

.view-forum-new .item-list ul li, .block-aggregator .item-list ul li {
  padding-bottom: 0.836em;
}

.view-calendar .item-list ul li {
  padding-bottom: 1.836em;
}

tr.even, tr.odd {
  background-color: white;
}

.new-comment {
  border: solid 1px red;
}

::selection {
  background: $color; /* Safari */
  color: #FFF;
  }
::-moz-selection {
  background: $color; /* Firefox */
  color: #FFF;
}

.vote-0 {
  zoom: 1;
  @include opacity(0);
  opacity: 0;
}

.vote-0:hover {
  @include opacity(0);
}

.vote-10 {
  @include opacity(0.1);
}

.vote-10:hover {
  @include opacity(1);
}

.vote-20 {
  @include opacity(0.2);
}

.vote-20:hover {
  @include opacity(1);
}

.vote-30 {
  @include opacity(0.3);
}

.vote-30:hover {
  @include opacity(1);
}

.vote-40 {
  @include opacity(0.4);
}

.vote-40:hover {
  @include opacity(1);
}

.vote-50 {
  @include opacity(0.5);
}

.vote-50:hover {
  @include opacity(1);
}

/*.vote-60 {
}

.vote-60:hover {
}*/

.vote-70 {
  background-color:#E3E4E5;
}

.vote-80 {
  background-color:#FFD700;
}

.vote-90 {
  background-color:$color;
  color: #fff;
}

.vote-90 a {
  color:#fff;
}

/* navigation bar */
#navigation {
  background-color:$color1;
  font-size:small;
  font-weight:bold;
  left: 0;
  padding-right:50px;
  padding-left:50px;
  right: 0;
  top: 0;
  z-index: 600;
  @include single-box-shadow($shadow_color, 3px, 3px, 3px);
}

#navigation  a:link, #navigation a:visited, #navigation a:hover {
  color:white;

}

/* search form on homepage */
#block-search-form  {
  width: 80%;
  margin:auto;
  text-align:center;
  padding:0.5em;
}
#edit-search-block-form--2 {
  width:50%;
  margin: 4px 0 0 0;
}

/* search on search page*/
#search-form #edit-basic {
  text-align:center;
  padding: 1em 0 1em 0;
}
#search-form input#edit-keys {
  width:70%;
}

#block-system-navigation a[href="/node/add"] {
  font-family: $fantasy_font;
  font-size: large;
  font-weight: bold;
  @include single-text-shadow(1px, 1px, 1px, false, $shadow_color);
  color: $color1;
}

#block-user-login a[href="/user/register"] {
  font-family: $fantasy_font;
  font-size: large;
  font-weight: bold;
  color: $color1;
  @include single-text-shadow(1px, 1px, 1px, false, $shadow_color);
}

#block-privatemsg-privatemsg-new {
  @extend .messages;
  h2 {
    display:none;
  }
}

#block-views-calendar-block-1 {
  h2 {
    margin:0;
    a[href="/calendar"] {
      font-family: $fantasy_font;
      @include single-text-shadow(1px, 1px, 1px, false, $shadow_color);
      color: $color1;
    }
  }
  a {color: $color1;
    &:hover {
      color: $color3;
    }
  }
}

#block-moderation-log-moderation-log {
  h2 {
    a[href="/moderation_log_node"], a[href="/moderation_log_comment"] {
      font-family: $fantasy_font;
      @include single-text-shadow(1px, 1px, 1px, false, $shadow_color);
      color: $color1;
    }
  }
}


.shadowy {
  border: solid 1px $border-color;
  @include single-box-shadow($shadow_color, 3px, 3px, 3px);
  margin-bottom:rhythm(0.67);
}
//img{
//  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
//  filter: grayscale(100%); /* Current draft standard */
//  -webkit-filter: grayscale(100%); /* New WebKit */
//  -moz-filter: grayscale(100%);
//  -ms-filter: grayscale(100%); 
//  -o-filter: grayscale(100%);
//  filter: gray; /* IE6+ */
//}

.date-display-single {
  padding-right: 1em;
}

.poll {
  .bar {
    .foreground {
      background-color: $color;
    }
  }
}
